@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

h1,
h2,
h3,
h3,
h5,
h6 {
  font-family: 'Acme', sans-serif;
  color: #011f3c;
}
p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}
body {
  background-color: #bbbbbd;
}
header {
  background-color: #003e7d;
  height: 170px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 100%;
}
header h1 {
  color: #dbecf8;
  text-shadow: 2px 2px black;
  font-size: 50px;
  z-index: 10;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main-image {
  z-index: 0;
  position: absolute;
  top: 88px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
}
nav {
  display: flex;
  flex-direction: column;
  width: 75px;
  background-color: #0d68ad;
  align-items: center;
  padding-top: 20px;
  z-index: 10;
  border-right: 2px solid black;
}
nav img {
  width: 75px;
  margin-bottom: 10px;
  mix-blend-mode: multiply;
}
nav a {
  color: #f1f9ff;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 10px;
}
#main-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}
#main-section section {
  margin-bottom: 20px;
}
main.home-page {
  display: flex;
  flex-direction: row;
}
#hero-image {
  margin-top: 20px;
  max-width: 75%;
  height: auto;
  width: auto\9; /* IE8 */
  border: thick solid #616161;
  border-radius: 5px;
  border-style: double;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 85%;
}
.cookie-image {
  width: 150px;
  height: 150px;
  margin: 0px 20px 0px 20px;
  border: thin solid #616161;
  mix-blend-mode: multiply;
  border-radius: 20px;
}
.home-page-blocks {
  border: thin solid #616161;
  border-radius: 5px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-page h2 {
  padding: 10px;
  font-size: 20px;
}
#store-locations {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #b3b7c3;
}
#store-locations div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
#store-locations article {
  width: 150px;
  margin: 0px 40px 40px 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #535151;
}
#online-store-section {
  background-color: #b3b7c3;
}
#online-store div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  background-color: #b3b7c3;
}
#online-store p {
  font-size: 18px;
  font-weight: bold;
  padding-top: 5px;
}
footer {
  display: flex;
  flex-direction: row;
  background-color: #003e7d;
  padding: 10px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
footer div {
  display: inline-block;
  vertical-align: text-top;
}
footer p {
  font-size: 12px;
  color: #b1d9e9;
}
footer a {
  font-size: 12px;
  color: #b1d9e9;
  text-decoration: none;
}
.footer-title {
  font-weight: bolder;
  font-size: 16px;
  letter-spacing: 1px;
}
.footer-left {
  width: 50%;
  padding-top: 15px;
  padding-left: 40px;
}
.footer-middle {
  padding-right: 50px;
}
#sales-table {
  margin: 20px 0px 20px 20px;
  font-family: Arial, Helvetica, sans-serif;
}
#sales-table td {
  padding: 8px;
  text-align: center;
  border: thin solid #6c6c6c;
  text-transform: capitalize;
  background-color: #b3b7c3;
}
.table-titles th {
  padding: 8px 8px 12px 8px;
  font-weight: bold;
  word-wrap: normal;
  vertical-align: bottom;
}
.cross-store-totals th {
  padding: 8px;
  text-align: center;
  border: thin solid #6c6c6c;
  text-transform: capitalize;
  background-color: #9598a3;
}
.location-title {
  font-weight: bold;
}
#add-store {
  width: 50%;
}
fieldset {
  display: flex;
  flex-direction: column;
  border: thin solid #6c6c6c;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 0px 20px 20px;
  text-align: center;
  background-color: #b3b7c3;
}
legend {
  color: #f1f9ff;
  background-color: #0d68ad;
  border: thin solid #6c6c6c;
  border-radius: 10px;
  padding: 3px 5px 3px 5px;
}
fieldset p {
  display: inline-block;
  padding-right: 5px;
}
fieldset div {
  padding-bottom: 3px;
}
.form-btn-div {
  padding-top: 10px;
  text-align: right;
}
inner-form-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.inline-block {
  display: inline-block;
}
input[type='number'] {
  width: 40px;
}
.inner-form-div div {
  padding-right: 30px;
}
#add-store-btn {
  width: 120px;
  background-color: #6680f3;
}
#sales-main-div {
  display: flex;
  flex-direction: column;
}
